body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
 
}

.main {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  background: url('./assets/IMG_3145.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.parentClass {
  position: relative;

}

.title {
  padding-bottom: 20px;
  padding-top:20px;
  font-size: 2.5em;
}

.ColumnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
 
}

.singleColumn {
  display: flex;
  width: 300px;
  justify-content: center;
  flex-direction: column;

}

.columnTitle {
  background-color: rgba(211, 211, 211, 0.893);
  border-radius: 25px;
}

.CardContainer {
  padding-top: 20px;
  margin: auto;
  width: 300px;
  border-radius: 25px;
  background-color: rgba(211, 211, 211, 0.893);
}

.SingleCard {
  background-color: #E1CDAC;
  margin: auto;
  border-radius: 25px;
  width: 250px;
}

.editCard {
  position: absolute;
  top: 50%;
  left: 30%;
}



.newCardForm {
  position: absolute;
  width: 40%;
  top: 75%;
  left:40%;
  display: flex;
  background-color: grey;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainForm{
  border: solid blue 2px; 
  width: 50%;
}

.mainForm input {
  width: 100%;
}

